<div id="search" rel="0">
    <form name='myForm'>
        <label>增加股票: <input type="text" name="input" ng-model="addstock.text"
           ng-pattern="addstock.pattern" required ng-trim="true" placeholder="股票代码" ng-keyup="$event.keyCode == 13 ? addItem(addstock.text) : null"  autocomplete="off" ng-change="idChanging(addstock.text)" id="id_input" ng-blur="lostAuto()">
        </label>
        <span ng-show="myForm.input.$error.pattern" style="color:red">请输入有效代码</span>
    </form>
</div>

<div id="search_auto" ng-mouseover="overAuto()" ng-mouseleave="leaveAuto()" >
    
</div>
<div>
<table st-table="displayCollection" st-safe-src="rowCollection" class="table table-striped">
    <tr><updatetime></updatetime></tr>
    <thead>
        <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>当前价格</th>
            <th st-sort="priceDif">涨跌</th>
            <th st-sort="pricePercent">涨跌比</th>
            <th>昨日收盘价</th>
      
            <th>当前价格时间</th>
            <th>开盘价</th>
            <th>操作</th>
            <th>查看</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in displayCollection">
            <td>{{row.stockCode}}</td>
            <td>{{row.stockName}}</td>
            <td ng-class='{red : row.changeColor==1, black: row.changeColor==0, green: row.changeColor==-1}'>{{row.stockPrice}}</td>
            <td ng-class='{red : row.changeColor==1, black: row.changeColor==0, green: row.changeColor==-1}'>{{row.priceDif}}</td>
            <td ng-class='{red : row.changeColor==1, black: row.changeColor==0, green: row.changeColor==-1}'>{{row.pricePercent}}</td>
            <td>{{row.priceYesterday}}</td>
            <td>{{row.priceTime}}</td>
            <td>{{row.priceOpen}}</td>
            <td class="action-column">
                <button type="button" class="btn-info btn-sm" data-toggle="modal" data-target="#delete" ng-click="remove(row)">删除</button>
            </td>
            <td class="action-column">
                <button type="button" class="btn-info btn-sm"  ng-click="viewFinance(row)" >财务数据</button>
                <button type="button" class="btn-info btn-sm"  ng-click="viewHisPrices(row)" >历史价格</button>
            </td>
        </tr>
    </tbody>
</table>
</div>